In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('share-population-female.csv')

print(df)

            Entity Code  Year  Population, female (% of total population)
0      Afghanistan  AFG  1960                                   48.320662
1      Afghanistan  AFG  1961                                   48.412689
2      Afghanistan  AFG  1962                                   48.499387
3      Afghanistan  AFG  1963                                   48.580874
4      Afghanistan  AFG  1964                                   48.657136
...            ...  ...   ...                                         ...
14748     Zimbabwe  ZWE  2016                                   52.430184
14749     Zimbabwe  ZWE  2017                                   52.396959
14750     Zimbabwe  ZWE  2018                                   52.356752
14751     Zimbabwe  ZWE  2019                                   52.317327
14752     Zimbabwe  ZWE  2020                                   52.283894

[14753 rows x 4 columns]

In [8]:
myseries = pd.Series({'Math': 35.47, 
                      'English': 55.67, 
                      'Biology': 24.09, 
                      'Chemistry': 60.55, 
                      'Physics': 48.33},
                    name='Score in percentage')

In [10]:
myseries['Math' : 'Chemistry']

Math         35.47
English      55.67
Biology      24.09
Chemistry    60.55
Name: Score in percentage, dtype: float64

In [11]:
myseries > 50

Math         False
English       True
Biology      False
Chemistry     True
Physics      False
Name: Score in percentage, dtype: bool

In [12]:
myseries[myseries > 50]

English      55.67
Chemistry    60.55
Name: Score in percentage, dtype: float64

In [23]:
X = [2, 3, 4, 5]  #turning a python list to a pandas series 
Y = pd.Series(X, index=['first', 'second', 'third', 'fourth']) #specifying index name

Y

first     2
second    3
third     4
fourth    5
dtype: int64

In [24]:
Y[::-1] #elements in reverse

fourth    5
third     4
second    3
first     2
dtype: int64

In [27]:
mask = Y <= 3
Y[mask]

first     2
second    3
dtype: int64

In [29]:
Y.all() #return true if none of the element is zero

True

In [30]:
Y.sum()

14